html {
    scroll-padding-top: 68px;
}

body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}


/* :target{
    padding-top:70px; 
    margin-top:-70px;
  } */


/* #11757D */